In [2]:
import pandas as pd

# Data Dictionary

## National Trust

### Description

The National Trust dataset, organized by the National Trust for the Welfare of of Persons with Autism, Cerebral Palsy, Mental Retardation and Multiple Disabilities, contains descriptive data on Indian NGOs specifically committed to helping those with various disabilities.

### Shape of Data

This dataset contains 542 unique NGO entries, with 8 descriptor variables for each entry: ngoname, state, district, orgemail, physicaladdress, officephone, orgtype, chairmanname

### ngoname

Type: Object (String) <br>
Name of the organization.

### state

Type: Object (String) <br>
State in which this organization is located in.

### district

Type: Object (String) <br>
District in which this organization is located in.

### orgemail

Type: Object (String) <br>
Email address of the organization; Some are organization-specific addresses and others seem to be email addresses of individuals involved in the organization.

### physicaladdress

Type: Object (String) <br>
Physical address of the organization.

### officephone

Type: Object (String) <br>
Phone number of the organization.

### orgtype

Type: Object (String) <br>
Type of organization; specifically the scheme(s) of this organization; schemes are the National Trust's method of classifying the type of cause this organization is working for.

In [3]:
pd.set_option("display.max_colwidth", 100)

schemes = ['Disha', 'Vikas', 'Samarth', 'Gharaunda', 'Niramaya', 
           'Prerna', 'Sahyogi', 'Sambhav', 'Gyan Prabha', 'Bahdte Kadam'] 

scm_desc = ['Early Intervention and School Readiness for Ages 0-10', 
            'Day Care scheme for Ages 10+',
            'Respite Care Residential', 
            'Group Home for Adults', 
            'Health Insurance', 
            'Marketing Assistance', 
            'Care Associates Training', 
            'Assistive Devices',
            'Educational Support',
            'Community Awareness and Innovative project'
           ]

scm = pd.DataFrame(data={'Scheme Name': schemes[:], 'Description': scm_desc})
scm

    Scheme Name                                            Description
0         Disha  Early Intervention and School Readiness for Ages 0-10
1         Vikas                           Day Care scheme for Ages 10+
2       Samarth                               Respite Care Residential
3     Gharaunda                                  Group Home for Adults
4      Niramaya                                       Health Insurance
5        Prerna                                   Marketing Assistance
6       Sahyogi                               Care Associates Training
7       Sambhav                                      Assistive Devices
8   Gyan Prabha                                    Educational Support
9  Bahdte Kadam             Community Awareness and Innovative project

### chairmanname

Type: Object (String) <br>
Name of the authorized person of this organization.